# dependencies
node_modules

# builds and caches
dist
tmp
out-tsc
*.tsbuildinfo
coverage
.cache/
.local/

# environment and secrets
.env
.env.*
!.env.example
*.pem
*.key

# IDEs and editors
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
testem.log

# project tooling
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
